#!/bin/sh
iptables -F FORWARD
{% for rule in acl_rules %}
iptables -A FORWARD -p {{ rule.protocol }}{% if rule.protocol == 'icmp' %} --icmp-type echo-request{% endif %} -s {{ rule.source }} -d {{ rule.destination }} -j {{ 'ACCEPT' if rule.action == 'permit' else 'DROP' }}
{% endfor %}
